@layer components {

    .list_table table {
        width: 100%;
        text-indent: 0;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .list_table table td {
        @apply p-3 font-normal text-sm text-left;
        color: rgb(29,29,29);
        vertical-align: baseline;
    }

    .list_table table tr:nth-child(2n) td {
        background: rgb(229, 237, 253);
    }
}