@utility markdown-docs {
  * {
    font-size: 13px;
  }

  h1,
  h2,
  h3,
  h4 {
    position: relative;
  }

  /* Paragraph heading styles in articles */
  :is(h1, h2, h3, h4)::before {
    content: "";
    position: absolute;
    width: 4px;
    top: 0;
    bottom: 0px;
    left: -16px;
    background-color: #f27c8d;
  }

  :is(h1, h2, h3, h4) a {
    @apply text-base;
  }

  blockquote {
    font-style: normal;
    border-inline-start-color: #919191;
    background-color: #f2f2f2;
    padding: 5px 10px;
  }

  blockquote p::after,
  p::before {
    content: "";
  }

  p code {
    @apply mx-1 p-1 bg-[#f4f4f5] rounded-sm after:content-[""] before:content-[""];
  }

  img {
    margin: 0;
  }

  a {
    @apply text-blue-700 hover:underline decoration-solid;
    text-decoration: none;
  }
}
