@layer components {
    .prose img {
        @apply mx-auto mb-4 rounded shadow-md;
    }

    .prose h1,
    h2,
    h3,
    h4 {
        position: relative;
    }

    .prose h1::before,
    h2::before,
    h3::before,
    h4::before {
        content: '';
        position: absolute;
        width: 4px;
        top: 0;
        bottom: 0px;
        left: -16px;
        background-color: #f27c8d;
    }
}