@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body,
    html {
        @apply min-h-screen overflow-x-hidden;
        background: #F5F5F5;
        -webkit-tap-highlight-color: transparent;
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}